{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv"><h2>Продолжение регистрации объекта</h2></div>
    {% if error %}
        <div class="mainDiv">
            {{ error }}
        </div>
    {% endif %}
        <div class="mainDiv">
           {{ form(form) }}
        </div>
{% endblock %}