{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv"><h2>Регистрация объекта</h2></div>
    {% if error %}
        <div class="mainDiv">
            {{ error }}
        </div>
    {% endif %}
        <div class="mainDiv">
           {{ form_start(form) }}
           {{ form_row(form.type) }}
           {{ form_row(form.title) }}
           {{ form_row(form.roomqty) }}
           {{ form_row(form.owner, {'attr' : {'value' : app.user.email, 'readonly' : true}}) }}
           {{ form_row(form.phone) }}
            <div id="mapp" style="width: 100%; height: 300px"></div>
           {{ form_row(form.address, {'attr' : {'readonly' : true}}) }}
           {{ form_end(form) }}
        </div>
{% endblock %}
{% block javascripts %}
    <script>
        ymaps.ready(init);
        let myMap,
            myPlacemark;

        function init() {
            myMap = new ymaps.Map('mapp', {
                center: [42.641975, 77.182632], // Иссык-Куль
                controls: ['largeMapDefaultSet'],
                zoom: 8
            });

            myPlacemark = new ymaps.Placemark();

            myMap.events.add('click', function(e) {
                let coords = e.get('coords');
                myPlacemark.geometry.setCoordinates(coords); // устанавливаем метке координаты, высчитанные из положения клика
                myMap.geoObjects.add(myPlacemark); // ставим метку на карту
                $('#habitat_register_address').attr('value', coords[0]+', '+coords[1]); // записываем координаты в поле с адресом
            });



        }
    </script>

{% endblock %}