{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="habitat_view">
        <div class="mapper">
            <div class="message"></div>
            <input type="hidden" id="hid" value="{{ habitat.address }}">
            <div class="habitat_info">
                <p>Количество комнат: {{ habitat.roomqty }}</p>
                <p>Контактное лицо :{{ habitat.owner }}</p>
                <p>Контактный телефон: {{ habitat.phone }}</p>
                <p>Цена за сутки: {{ habitat.price }} сом</p>
            </div>
            <div id="map"></div>
        </div>
        <div class="view"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        let roomqty = {{ habitat.roomqty }};
        $(function () {
            for(let i = 1; i <= roomqty; i++){
                $('.view').append($('<div class="room_info" id="room'+ i +'"><p>Номер '+ i +' Свободный ' +
                                    '<button class="room_button" id="'+ i +'">Забронировать</button>' +
                                    '</p></div>'));
            }
            $.get('../booked/get', {'habitat_id' : {{ habitat.id }}}, function (data) {
                $.each(data , function (key, value) {
                    $('#room'+key).html('<p>Номер '+ key +' '+ value +
                        '<button class="room_button" id="'+ key +'">Забронировать</button>' +
                        '</p>')
                });
            });
            $('.room_button').on('click',function () {
                let room_id = this.id;
                $.get('../booking', {'number' : room_id,
                                     'habitat' : {{ habitat.id }}},
                    function (data) {
                    let error = $('<div class="access_error">Авторизуйтесь как арендатор, чтобы бронировать</div>');
                    if(data === 'Access Denied'){
                        error.insertBefore($('#room'+room_id));
                    }else if(data === 'Exists'){
                        error.text('Вы уже забронировали номер в этом или другом объекте');
                        error.insertBefore($('#room'+room_id));
                    }else {
                        $('#room'+room_id).children('p').text('Номер '+ room_id +' '+ data.result);
                    }
                    console.log(data);
                    setTimeout(function () {
                        error.remove();
                    }, 5000)
                });
            });
           let coordinates = $('#hid').val().split(', ');
            ymaps.ready(init);
            let myMap, myPlacemark;
            function init() {
                myMap = new ymaps.Map('map', {
                    center: [coordinates[0], coordinates[1]], // Местоположение объекта
                    zoom: 15
                });
                myPlacemark = new ymaps.Placemark(coordinates);
                myMap.geoObjects.add(myPlacemark);
            }
        });

    </script>
{% endblock %}