{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="content">
        <div class="search">
            {{ form_start(form) }}
            {{ form_row(form.title) }}
            {{ form_row(form.min) }}
            {{ form_row(form.max) }}
            {{ form_row(form.type) }}

            {{ form_end(form) }}
        </div>
        <div class="habitats">
        {% if habitats is empty %}
            <div class="habitat" > Мы ничего не нашли по вашим запросам</div>
        {% endif %}
        {% for habitat in habitats %}
            <div class="habitat">
                <img src="{{ asset('images/image1.jpg') }}" alt="imageOfHabitat">
                <div class="info">
                    <h3><a href="{{ path('app_habitat_view', {'title': habitat.title}) }}">{{ habitat.title }}</a></h3>
                    <p>Кол-во комнат: {{ habitat.roomqty }}</p>
                    <p>Телефон: {{ habitat.phone }}</p>
                    <p>Цена за сутки: {{ habitat.price }}</p>
                </div>
            </div>

        {% endfor %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $('#filter_type_placeholder').checked = true;
        });
        if($('#filter_type_0').checked){
            $('filter_type').append($('<div>dfhjdgsjsflgjdfgjk</div>'))
        }
        $('li').click(function(){
            $(this).children('ul').toggle('normal');
            return false;
        });
    </script>

{% endblock %}