{% extends "style.html.twig" %}

{% block title %}Index{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="mainDiv phrases">
        <h1>{% trans %}Авторизация{% endtrans %}</h1>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=passport,first_name,last_name;providers=vkontakte,facebook,google;redirect_uri=http%3A%2F%2Flocalhost%3A1212%2Fsocial_auth;mobilebuttons=0;optional=email"></div>
    </div>
    {% if error is not empty %}
        <div class="mainDiv">
            {{ error }}
        </div>
        {% endif %}

        {#{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}#}
            <div class="mainDiv">
                    {#<p>{% trans %}Enter your phrase{% endtrans %}</p>#}
                {{ form_start(form, {'attr': {'class': 'form-control'}}) }}
                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email,{'attr' : {'class':'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password,{'attr' : {'class':'form-control'}}) }}
                </div>
                    {{ form_widget(form.save,{'attr' : {'class':'form-control btn btn-primary'}}) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        {#{% endif %}#}
{% endblock %}