{% extends 'style.html.twig' %}

{% block title %} Профиль {% endblock %}

{% block body %}
    {{ parent() }}

    <div class="mainDiv">
        <p>Email: {{ user.email }}</p>
        <p>Passport: {{ user.passport }}</p>
        <p>Привязать свою учетную запись к соц.сетям:</p>
        <div id="uLogin" data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,facebook,google;redirect_uri=http%3A%2F%2Flocalhost%3A1212%2Fsocial_auth;mobilebuttons=0;"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function() {
            {#let vk = $('.ulogin-button-vkontakte');#}
            {#let google = $('.ulogin-button-google');#}
            {#let fb = $('.ulogin-button-facebook');#}
            {#if({{ app.user.google }}){#}
                {#google.remove();#}
                {#fb.css('float', 'none');#}
                {#vk.css('float', 'none');#}
            {#}#}
            {#if({{ app.user.vkontakte }}){#}
                {#vk.remove();#}
                {#fb.css('float', 'none');#}
                {#google.css('float', 'none');#}
            {#}#}
            {#if({{ app.user.facebook }}){#}
                {#fb.remove();#}
                {#vk.css('float', 'none');#}
                {#google.css('float', 'none');#}
            {#}#}
        });

    </script>
{% endblock %}


