{% extends 'style.html.twig' %}

{% block body %}
    {{ parent() }}
    {% if error %}
        <div class="mainDiv">
            {{ error }}
        </div>
    {% endif %}
    <div class="mainDiv">
        <p><b>Введите дополнительные данные</b></p>
        {{ form(form) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

