{% extends "base.html.twig" %}

{% block title %}AppBundle:Pages:header{% endblock %}

{% block stylesheets %}
    <style>
        *{
            word-wrap:break-word;
        }
        BODY{
            margin: 0;
            background: darkgray;
        }
        .mainDiv{
            border: 5px solid silver;
            border-radius: 2%;
            max-width: 60%;
            background: white;
            text-align: center;
            padding: 20px 10px 10px;
            margin: 20px auto 30px;
        }
        .header{
            text-align: center;
            margin: 0 auto;
            padding: 12px;
            color: #ababab;
            background: #595959;
            z-index:5;
        }
        .header a{
            margin: 0 5px;
            color: white;
        }
        .content{
            margin: 15px 14%;
            display: flex;
            flex-flow: row nowrap;
            height: 100%;
        }
        .search{
            border: 3px solid #949fff;
            border-radius: 2%;
            width: 300px;
            background: #e5ff87;
            padding: 15px;
            margin: 10px;
        }
        .habitats{
            display: inline-block;
            width: 100%;
            margin-top: 10px;
        }
        .habitat{
            border: 2px solid #949fff;
            border-radius: 1%;
            width: 99%;
            background: white;
            padding: 15px 10px 15px;
            display: flex;
            align-items: flex-start;
        }
        .info{
            margin: 0 20px;
            display: inline-block;
        }
        .habitat_view{
            margin-left: 10%;
            display:flex;
            flex-flow: row nowrap;
        }
        .view {
            width: 60%;
            margin-top: 12px;
        }
        .habitat_info{
            border: 2px solid #949fff;
            border-radius: 1%;
            width: 90%;
            background: white;
            padding: 15px 10px;
            display: inline-block;
            margin: 13px 15px 10px 18px;
            align-items: flex-start;
            position:sticky;
            top: 62px;
        }
        .room_info{
            border: 2px solid #f5ff95;
            border-radius: 1%;
            line-height: 25px;
            width: 60%;
            background: white;
            padding: 15px 10px 0;
            margin: 5px 15px 5px 10px;
        }
        .mapper{
            display: inline-block;
            width: 40%;
        }
        #map {
            height: 300px;
            width: 90%;
            position: sticky;
            top: 265px;
            display:inline-block;
            margin: 0 20px;
            padding:4px;
            z-index: 0;
        }
        .room_button{
            float:right;
        }
        .access_error{
            text-align: center;
            border: 2px solid #ff443a;
            border-radius: 1%;
            color:#ff443a;
            width: 60%;
            background: white;
            padding: 15px 10px;
            margin: 5px 15px 5px 10px;;
        }
        ul li {
            /*list-style: none;*/
            cursor: pointer;
        }
        ul li:hover {
            color:blue
        }
        ul li ul {
            display:none;
            color:green;
            padding:3px 15px;
        }
        ul li ul li ul{
            color:red;
        }
    </style>
{% endblock %}
{% block body %}
    <header style="position: sticky; top: 0;">
        <div class="header" >

            <a href="{{ path('app_homepage') }}">Главная</a>|
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('app_profile', {'id' : app.user.id}) }}" style="margin-left: 5px;"> Мой профиль</a>|
                {% if is_granted("ROLE_LANDLORD") %}
                    <a href="{{ path('app_habitat_register') }}">Зарегистрировать объект</a>|
                {% endif %}
                <a href="{{ path('logout') }}"> Выйти</a>


            {% else %}
                <a href="{{ path('app_register') }}">Регистрация</a>|
                <a href="{{ path('app_login') }}" style="margin-left: 5px;">Авторизация </a>
            {% endif %}
        </div>
    </header>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}
